# Terraform state
*.tfstate
*.tfstate.*

# Terraform provider plugin downloads
.terraform/

# Sensitive variable and backend config filesf


# Optional editor or system files
*.log
*.bak
.DS_Store
*.swp
